.chartHistory {
  width: 100%;
  height: 25%;
  box-shadow: rgba(33, 35, 38, 0.1) 10px 0 10px 0;
}

.chartHistory.hide {
  display: none;
}

.chartHistory-title {
  padding: .6rem 0 0 1rem;
  font-weight: bold;
  color: grey;
  font-size: 1.1rem;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.chartHistory-grid {
  display: flex;
  gap: 1rem;
  padding: 0 3.5rem 0 3.5rem;
  height: 70%;
}

.btn-history {
  background-color: white;
  height: 100%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 6px 3px inset;
  max-width: 25%;
}

.btn-history img {
  height: auto;
  max-height: 100%;
  cursor: pointer;
}
