.section-chart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chart {
  height: 75%;
  padding: 1rem;
}

.chart img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}