.writer-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color: rgba(211, 211, 211, 0.438);
}

.writer-btn-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.writer-btn {
  display: flex;
  flex-direction: row;
  gap: .2rem;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  width: 5rem;
  margin: .1rem .3rem 0 0;
  padding: .2rem;
  text-align: center;
  font-weight: bold;
}

.undo {
  background-color: rgb(54, 162, 250);
}

.undo-icon {
  font-size: .8rem;
}

.clear {
  background-color: rgba(255, 0, 0, 0.664);
  border-color: red;
}

.writer {
  white-space: break-spaces;
  color:black;
}

.spinner {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.438);
}