body {
  margin: 0;
  padding: 0;
}
.screen {
  display: flex;
}

.half-plantuml {
  width: 50vw;
  height: 100vh;
}

.half-encodeurl {
  width: 50vw;
  height: 100vh;
}

.section-record {
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 100vw;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-record {
  background-image: url('/public/assets/micOff.png');
  background-position: center;
  width: 3rem;
  height: 3rem;
  padding: 2.5rem;
  background-color: rgb(152, 152, 152);
  transition: background-color 0.5s ease-in-out;
  border: .1rem solid black;
  border-radius: 50%;
  margin-bottom: .5rem;
}

.btn-record.recording {
  background-color: rgb(255, 135, 139);
  background-image: url('/public/assets/micOn.png');
}

.rec {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  align-items: center;
  background-color: black;
  margin-bottom: .3rem;
  border-radius: .5rem;
  padding: 0 .5rem .1rem .5rem;
}

.on-record {
  display: block;
  width: .9rem;
  height: .9rem;
  margin-top: .1rem;
  background-color: white;
  border: .1rem solid black;
  border-radius: 50%;
  transition: background-color 0.5s ease-in-out;
}

.on-record.recording {
  background-color: red;
}

.label-record {
  margin: 0 0 0 .2rem;
  font-weight: bold;
  color: white;
}

.backend-response {
  background: white;
  padding: 0.5em;
  border-radius: 25px;
  position: fixed;
  top: 1em;
  right: 1em;
  width: max-content;
}

.backend-response {
  width: 40vw;
}

.backend-response button {
  cursor: pointer;
}
